{% extends 'chushi.html' %}

{% block body %}



<link rel="stylesheet" href="/static/hf.css" />
<form method='POST' action='/search5'>
<table>
    <p>骑行路线规划，请输入起点和终点（请用结构化地址，例如：广东省广州市从化区中山大学南方学院）</p>
{#<tr><td>color:</td><td><input name='color' type='color' width='60'></td></tr>#}
{#<tr><td>color01:</td><td><input name='color01' type='color' width='60'></td></tr>#}
<tr><td>请输入起点:</td><td><input name='cycle_origin' type='TEXT' width='60'></td></tr>
    <tr><td>请输入终点:</td><td><input name='cycle_zhongdian' type='TEXT' width='60'></td></tr>

</table>
<p><input value='尝试一下吧！' type='SUBMIT'></p>
</form>

{% endblock %}